
// dark-bg, light-text
.dark-theme {
    background: $dark;
    color: $light;
}

// dark see-through bg, light-text
.dark-theme-transparent {
    background: rgba($dark, 0.9);
    color: $light;
    border: none;
}


