
.dark-theme {
    background: $dark;
    color: $light;
}

.dark-theme-transparent {
    background: rgba($dark, 0.9);
    color: white;
    border: 1px solid transparent;
}

.light-theme-text {
    color: $light;
}

.light-theme-transparent {
    background: rgba($light, 0.7);
    color: $dark;
    border: 1px solid transparent;
}

.primary-color-theme {
    background: $primary-color;
    color: $light;
    border: 1px solid transparent;
}

.light-color {
    color: $light;
}