

body {
    position: relative;
    padding-top: ($spacing-lg * 2);
    width: 100%;
    right: 0;
    transition: right 0.5s;
}

body.menu-open {

    @include mediaQ--max($bp-sm) {
        right: $vertical-navbar-width;
        transition: right 0.5s;
    }
}

//#--   TYPOGRAPHY  --//

h1 {
    font-size: $font-size-xlg;
    text-transform: uppercase;
    font-weight: bold;
    
        @include mediaQ--min($bp-sm) {
            font-size: $font-size-xxlg;

            @include mediaQ--min($bp-md) {
                font-size: $font-size-xxxlg;
            }
        }
}

h2 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: ($spacing-double * 3) 0;

    @include mediaQ--max($bp-sm) {
        font-size: $font-size-lg;
        padding: $spacing-double 0;

    }
}

h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $font-size-xlg;
    margin: $spacing-double 0 $spacing-double;

    @include mediaQ--min($bp-xs) {
        font-size: $font-size-xlg;
        
        @include mediaQ--min($bp-sm) {
            margin: ($spacing-lg * 4) 0 $spacing-double;
            font-size: $font-size-xxlg;
        }
    }
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-xlg;
}

h4.small-size {
    font-weight: normal;
    font-size: $font-size-xlg;
}

h5 {
    font-size: $font-size-xlg;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $spacing-default;
    letter-spacing: 2px;
    position: relative;
}

h6 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: $font-size-xxxlg;

    @include mediaQ--min($bp-md) {
        font-size: $font-size-huge;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
}

hr {
    border-top: 1px solid transparent;
}

hr.sm-width {
    border-top: 3px solid black;
    width: 40px;
    margin-top: $spacing-default;
}

p {
    font-family: $font-family-paragraph;
    line-height: 24px;
    font-size: $font-size-sm;

    @include mediaQ--min($bp-md) {
        font-size: $font-size-base;
    }
}

p.lead {
    font-size: $font-size-sm;
    //text-transform: uppercase;
    line-height: 1.5;

    @include mediaQ--min($bp-md) {
        font-size: $font-size-md;
    }
}

a {
    color: $primary-color;
}

//#-- END --#//


.well {
    border: none;
    background: none;
}

.primary-color {
    color: $primary-color;
}

.bold {
    font-weight: bold;
}



// -- .fill-screen uses jquery to size div height to screen height -- //

.fill-screen {
    height: 0;
}

.half-screen {
    height: 0;
}


//-- smaller heighted hero images 
.background-height-small{
    height: 360px;
}

.inline {
    display: inline;
}

.bg-img-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}