

body {
    padding-top: 50px;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;

    @include mediaQ--min($bp-sm) {
        font-size: 48px;
    }
}

h2 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 90px 0;

    @include mediaQ--max($bp-sm) {
        font-size: 20px;
        padding: 30px 0;

    }
}

h3 {
    margin: 20px 0;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include mediaQ--max($bp-sm) {
        font-size: 20px;
    }
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
}

hr.sm-width {
    border-top: 3px solid black;
    width: 40px;
    margin-top: 15px;
}

p {
    line-height: 24px;
}

p.lead {
    font-size: 14px;
}