

body {
    padding-top: 50px;
}


h2 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

h3 {
    margin: 20px 0;
    font-size: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
}

hr.sm-width {
    border-top: 3px solid black;
    width: 40px;
    margin-top: 15px;
}

p {
    line-height: 24px;
}