

body {
    position: relative;
    padding-top: 40px;
    width: 100%;
    right: 0px;
    transition: right 0.5s;
}

body.menu-open {

    @include mediaQ--max($bp-sm) {
        right: 280px;
        transition: right 0.5s;
    }
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    
    @include mediaQ--min($bp-xs){
        font-size: 28px;

        @include mediaQ--min($bp-sm) {
            font-size: 42px;

            @include mediaQ--min($bp-md) {
                font-size: 48px;
            }
        }
    }
}

.primary-color {
    color: $primary-color;
}

.bold {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 90px 0;

    @include mediaQ--max($bp-sm) {
        font-size: 20px;
        padding: 30px 0;

    }
}

h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    margin: 30px 0 30px;

    @include mediaQ--min($bp-xs) {
        font-size: 28px;
        
        @include mediaQ--min($bp-sm) {
            margin: 80px 0 30px;
            font-size: 36px;
        }
    }
}

h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

h4.small-size {
    font-weight: normal;
    font-size: 24px;
}

h5 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    position: relative;
}

h6 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 40px;

    @include mediaQ--min($bp-md) {
        font-size: 56px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
}

hr {
    border-top: 1px solid transparent;
}

hr.sm-width {
    border-top: 3px solid black;
    width: 40px;
    margin-top: 15px;
}

p {
    font-family: $font-family-paragraph;
    line-height: 24px;
    font-size: 14px;

    @include mediaQ--min($bp-md) {
        font-size: 16px;
    }
}

p.lead {
    font-size: 14px;
    //text-transform: uppercase;
    line-height: 1.5;

    @include mediaQ--min($bp-md) {
        font-size: 18px;
    }
}

a {
    color: $primary-color;
}

.well {
    border: none;
}

// -- .fill-screen uses jquery to size div height to screen height -- //

.fill-screen {
    height: 0;
}

.half-screen {
    height: 0;
}


//-- smaller heighted hero images 
.background-height-small{
    height: 360px;
}

.inline {
    display: inline;
}

.bg-img-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}