//  SECTION .in-view ANIMATIONS //
/* 
    for md+ screen sizes.
    used on elements with 'data-scroll='in-view-animation'' attr.
*/

@media screen and (min-width: $bp-lg) {

    #intro {
        .panel-square__inner {
            opacity: 0;
            transition: opacity 0.5s 0.2s;
        }
    }

    #intro.in-view {

        .panel-square__inner {
            opacity: 1;
        }
    }

    .menu-section {
        #menu-categories {
            position: relative;
            top: 40px;
            opacity: 0;
            transition: all 0.5s 0.2s;
        }
    }

    .menu-section.in-view {
        #menu-categories {
            top: 0;
            opacity: 1;
        }
    }
}