/*===========================

       PLACEHOLDERS

=============================*/

// Background image default cover style

%background-img-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}