
//#     HERO SECTION
.about-hero-img {
    height: 400px;

    @include mediaQ--min($bp-sm) {
        height: 600px;
    }   
}

//#     ABOUT CONTENT
.about-content__wrapper {

}

.about-content__wrapper__text {
    text-align: center;

    p {
        max-width: 600px;
        margin: auto;
    }
}

.about-content__wrapper__image {
    min-height: $panel-square-min-height;
}

//#     TESTIMONIALS
#testimonials {
    position: relative;
}

.testimonials__content-wrapper {
    position: relative;
    z-index: 3;
    background: $primary-color;
    padding: $spacing-double 0 ($spacing-double * 3);

}

.testimonials__quote-icon {
    text-align: center;
    margin-bottom: ($spacing-lg * 2);

    span {
        background: $light;
        color: $primary-color;
        font-size: 50px;
        padding: $quote-icon-padding;
        border-radius: 100%;
    }
}

.testimonials__content {
    font-size: $font-size-md;
    letter-spacing: 1px;
    line-height: 1.5;
}

.testimonials__backquote {
    font-style: italic;
    font-size: $font-size-base;
    letter-spacing: 1px;
}