
//#     HERO SECTION
.about-hero-img {
    @extend %background-img-cover; 
    height: 400px;

    @include mediaQ--min($bp-sm) {
        height: 600px;
    }   
}

//#     ABOUT CONTENT
.about-content__wrapper {

}

.about-content__wrapper__text {
    text-align: center;
    //padding: 60px;

    p {
        max-width: 600px;
        margin: auto;
    }
}

.about-content__wrapper__image {
    @extend %background-img-cover;
    min-height: 50rem;

        @include mediaQ--min($bp-sm) {
            //display: block;
        }
}

//#     TESTIMONIALS
#testimonials {
    @extend %background-img-cover;
    //padding-bottom: 60px;
    position: relative;
}

.testimonials__content-wrapper {
    position: relative;
    z-index: 3;
    background: $primary-color;
    padding: 30px 0 90px;

}

.testimonials__quote-icon {
    text-align: center;
    margin-bottom: 40px;

    span {
        background: $light;
        color: $primary-color;
        font-size: 50px;
        padding: 25px 28px 15px;
        border-radius: 100%;
    }
}

.testimonials__content {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.testimonials__backquote {
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
}