
#location-hero-section {
    height: 400px;

    @include mediaQ--min($bp-sm) {
        height: 600px;
    }

}

.location-content__details--align-left {
    text-align: left;

    span {
        position: absolute;
        left: -40px;
    }
}

.location-content__details__title {
    @extend %text-shadow;
}

.location-content__details__list {
    @extend %text-shadow;

    li {
        font-size: $font-size-md;
        line-height: 1.5;
        letter-spacing: 2px;
        padding: $spacing-xs;
    }
}