
#location-hero-section {
    @extend %background-img-cover;
    height: 400px;

    @include mediaQ--min($bp-sm) {
        height: 600px;
    }

}

.location-content__wrapper {
    //display: flex;
}

.location-content__details {
    position: relative;
    min-height: 50rem;

    span {
        position: absolute;
        left: -40px;
    }
}

.location-content__details--align-left {
    text-align: left;
}

.location-content__details__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.location-content__details__title {
    @extend %text-shadow;
}

.location-content__details__list {
    @extend %text-shadow;

    li {
        font-size: 19px;
        line-height: 1.5;
        letter-spacing: 2px;
        padding: 5px;
    }
}