#hero-contact {

    div {
        height: 400px;
        padding: 0;
    }
}

#contact-section {
    @extend %background-img-cover;
}

.contact-section__form {
    background: rgba($dark, 0.5);
}

.contact-section__form__content {
    padding: 0;

    @include mediaQ--min($bp-sm) {
        padding: 60px 30px 120px;
    }
}