#hero-contact {

    div {
        height: 400px;
        padding: 0;

        &::after {
            width: 100%;
            height: 400px;
            background: rgba(black, 0.3);
        }
    }
}