

.menu-aside__img {
    @extend %background-img-cover;

    height: 500px;
}

#menu-categories {
    background: $light;  


    ul {
        padding: 15px 0;
    }

    li {
        padding: 5px 30px;
        margin-bottom: 5px;
        border: 3px solid #222;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.featured-food-item {
    padding: 10px;
    border: 1px dotted #222;
}

#menu-content {
    hr {
        border-top: 3px solid #222; 
    }
}


