
// Button styling

.btn-lg {
    padding: 15px 40px;
    border-radius: 0;

        @include mediaQ--max($bp-sm) {
            padding: 10px 40px;
        }
}

.btn-round {
    border-radius: 75px;
}

.btn-secondary {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 20px;
    background: grey;
    color: white;

        @include mediaQ--max($bp-sm) {
            font-weight: normal;
            letter-spacing: 1px;
        }
}

// transparant button with primary-color border
.btn-primary-clear {
    background: transparent;
    border: 1px solid $primary-color;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;

    &:hover, &:focus, &:active {
        background: $primary-color;
        border: 1px solid $primary-color;
        color: $light;
    }
}

.btn-primary-color {
    background: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;

    &:hover, &:focus, &:active {
        background: $primary-dark-color;
        border: 1px solid $primary-dark-color;
        color: $light;
    }    
}