
// Carousel in Hero section of Front-page.

#hero-index-carousel {

    .item {
        //position: relative;
       height: 400px;
       overflow: hidden;

        @include mediaQ--min($bp-sm){
            height: 600px;
        }
    }

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1 {
        margin: 30px 0;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    //# indicators
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 5px;
    }
}

// MENU TOP PAGE CAROUSEL.

#hero-menu-carousel {

    .item {
        max-height: 400px;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

}

#testimonials__carousel {
    height: 100%;

    .carousel-inner {
        margin: 90px 0;
        color: $light;
    }

    .item {
        padding: 30px;
    }
}


//==== FADE CAROUSEL CODE ====//

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}