
// Carousel in Hero section of Front-page.

#hero-index-carousel {

    .item {
       height: 300px;
       overflow: hidden;

        @include mediaQ--min($bp-sm){
            height: 600px;
        }
    }

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    button {
        margin-top: 30px;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    //# indicators
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 5px;
    }
}

// MENU TOP PAGE CAROUSEL.

#hero-menu-carousel {

    .item {
       height: 300px;
       overflow: hidden;

        @include mediaQ--min($bp-sm){
            height: 600px;
        }
    }

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    button {
        margin-top: 30px;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

}

#testimonials__carousel {
    height: 100%;
    padding-bottom: 60px;

    .carousel-inner {
        margin: 30px 0;
        color: $light;
        max-width: 1200px;
        margin: auto;
    }

    .item {
        padding: 30px;
    }

    .carousel-indicators {
        li {
            border-color: $dark;
            width: 20px;
            height: 20px;
            margin: 0 3px;
        }

        li.active {
            background: $dark;
        }
    }
}

.carousel-inner {
    
    &:hover {

        .carousel-control {
            opacity: 1;
        }
    }
}


//==== FADE CAROUSEL CODE ====//

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


//#    3 FONT STYLES FOR TITLE/ h1

    .title-font--handwriting {
        font-family: $hero-font-handwriting;
        font-size: 18px;

        @include mediaQ--min($bp-sm) {
            font-size: 28px;
        }
    }

    .title-font--bold-italic {
        font-style: italic;
        text-transform: none;
        font-size: 16px;

        @include mediaQ--min($bp-sm) {
            font-size: 24px;
        }
    }

    .title-font--bold,
    .title-font--bold-italic {
        font-family: $hero-font-bold;
    }

    .title-font--bold,
    .title-font--bold-italic,
    .title-font--handwriting {
        text-align: center;
        margin: 10px 0;
    }