
// Carousel in Hero section of Front-page.

#hero-index-carousel {

    .item {
        //position: relative;
        max-height: 900px;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}

// MENU TOP PAGE CAROUSEL.

#hero-menu-carousel {

    .item {
        max-height: 400px;
    }

    .carousel-inner__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}


//==== FADE CAROUSEL CODE ====//

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}