

// light-bg, slight see-through, $primary-color text form
.form-custom-1 {
    max-width: 620px;
    margin: auto;
    padding: ($spacing-lg * 2) $spacing-double $spacing-triple;
    background: rgba($light, 0.8);

        input, textarea {
            background: rgba($dark, 0.1);
            border-radius: 0;
            border: none;
            border-bottom: 2px solid $primary-color;
            box-shadow: none;
            color: $primary-dark-color;
        }

        .form-control:focus,
        .form-control:hover { 
            border-color: $dark;
            box-shadow: none;
        }

        @include mediaQ--min($bp-sm) {
            padding: $spacing-sm $spacing-triple ($spacing-double * 3);
            
            @include mediaQ--min($bp-md) {
                padding: ($spacing-lg * 2) ($spacing-double * 3) ($spacing-double * 3);
        }
    }
}