// Form Input styling

.input-group--curved {
    @include mediaQ--max($bp-xs) {
        display: block;
        text-align: center;
    }

    .form-control:first-child {
        border-radius: 75px;
    }

    .input-group-btn {
        padding-left: 5px;
    }

    .input-group-btn:last-child > .btn {
        border-radius: 75px;

        @include mediaQ--max($bp-xs) {
            margin-top: 10px;
        }
    }
}

.form-custom-1 {

    input, textarea {
        background: rgba($dark, 0.1);
        border-radius: 0;
        border: none;
        border-bottom: 2px solid $primary-color;
        box-shadow: none;
    }

    .form-control:focus,
    .form-control:hover { 
        border-color: $dark;
        box-shadow: none;
    }
}