
// Top Navigation bar

.navbar {
    border: none;
    margin: 0;
    min-height: 0px;
    border-radius: 0;
    z-index: 10;
}

.navbar-wrapper {
    margin: auto;
}

.navbar-header {

    h1 {
        display: inline;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        @include mediaQ--min($bp-sm) {
            display: none;
        }
    }
}

.navbar-brand {
    padding: $mp-sm $mp-default;
    padding-left: 0;


    img {
        max-width: 40px;
        display: inline;
        margin: 0 $mp-sm;
    }
}

.navbar-inverse {
    background-color: $dark;
    
    @include mediaQ--max($bp-sm) {
        background: $light;

        .navbar-toggle {
            border-color: $light;
        }
    }
}

.navbar-inverse .navbar-toggle .icon-bar {
    @include mediaQ--max($bp-sm) {
        background-color: $dark;
        width: 28px;
        height: 4px;
    }
}

.navbar-brand--no-float {
    float: none;
}

.navbar-collapse {
    left: 0px;
    transition: left 0.5s;

    @include mediaQ--max($bp-sm) {
        width: 300px;
        position: absolute;
        background: #222;
        display: block;
        margin: 0px;
        left: -300px;
    }
}

.container > .navbar-collapse {
    @include mediaQ--max($bp-sm) {
        margin: 0px;
    }
}

.navbar-collapse--appear {
    left: 0px;
    z-index: 2;
}

// navbar button :focus
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: $grey;
}

// nav-pills

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: $light;
    background: $primary-dark-color;
}

.nav-pills > li > a,
.nav a {
    border-radius: 0;
    color: $light;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 0;
    font-size: 18px;
    transition: background 0.5s ease-out;
    background: none;
}


.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: $primary-color;
}

.nav > li > a.inline { 
    @extend .inline;
}


// navbar .affix 

.navbar.affix {
    width: 100%;
    z-index: 2;
    top: 0px;
}