
// Top Navigation bar

.navbar {
    border: none;
    margin: 0;
    min-height: 0px;
    border-radius: 0;
    z-index: 10;
}

.navbar-wrapper {
    margin: auto;
}

.navbar-header {

    h1 {
        display: inline;
        position: absolute;
        left: 50%;
        transform: translate(-50%);

        @include mediaQ--min($bp-sm) {
            display: none;
        }
    }
}

.navbar-brand {
    padding: $mp-sm $mp-default;
    padding-left: 0;


    img {
        max-width: 40px;
        display: inline;
        margin: 0 $mp-sm;
    }
}

.navbar-inverse {
    background-color: $dark;
    
    @include mediaQ--max($bp-sm) {
        background: $light;
    }
}

.navbar-inverse .navbar-toggle .icon-bar {
    @include mediaQ--max($bp-sm) {
        background-color: $dark;
        width: 28px;
        height: 4px;
    }
}

.navbar-brand--no-float {
    float: none;
}

.navbar-collapse {
    //left: 0px;
    //transition: left 0.5s;
    position: relative;
    transition: right 0.5s;
    

    @include mediaQ--max($bp-sm) {
        width: 280px;
        //position: absolute;
        background: #222;
        display: block;
        margin: 0px;
        //left: -300px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -280px;
        padding: 15px;
        overflow: auto;

        -webkit-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: inset 2px 0px 5px 0px rgba(0,0,0,0.75);

        ul.nav {
            padding: 15px 0;
            border-top: 2px dotted white;
            border-bottom: 2px dotted white;
        }
    }
}

.navbar-collapse.open {
    @include mediaQ--max($bp-sm) { 
        right: 0;
    }
}

.container > .navbar-collapse {
    @include mediaQ--max($bp-sm) {
        margin: 0px;
    }
}

.navbar-collapse--appear {
    left: 0px;
    z-index: 2;
}

// navbar button :focus
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: $grey;
}

// nav-pills

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: $light;
    background: $primary-dark-color;
}

.inline, .nav > li > a.inline { 
    display: inline-block;
}

.nav-pills > li > a,
.nav a {
    border-radius: 0;
    color: $light;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 0;
    font-size: 18px;
    transition: background 0.5s ease-out;
    background: none;

    @include mediaQ--max($bp-sm) {
        padding: 10px;
    }
}


.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: $primary-color;
}

.nav > li > a.inline { 
    @extend .inline;
}


// navbar .affix 

.navbar.affix {
    width: 100%;
    z-index: 2;
    top: 0px;
}


//# BURGER BUTTON IN NAVBAR - FOCUS/HOVER
.navbar-inverse .navbar-toggle:hover,
 .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}