
.panel {
    border: none;
}

.panel-default > .panel-heading {
    border-bottom: 2px solid $primary-color;
}

//# panel-square // panel-square__inner 

.panel-square {
    position: relative;
    min-height: 50rem;
}



.panel-square__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h3 {
        margin-top: 0;
    }
}

.panel-square__inner--text-center {
    width: 100%;
    max-width: 60rem;
    padding: 60px;
    text-align: center;
}