
//#     BS-overides

.panel-default > .panel-heading {
    background: none;
}

.panel {
    border: none;
}

.panel-default > .panel-heading {
    border-bottom: $border-size-md solid $primary-color;
}
//----------------------------------------

//#     panel-square // panel-square__inner 

.panel-square {
    position: relative;
    min-height: $panel-square-min-height;
}

.panel-square__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h3 {
        margin-top: 0;
    }
}

// postitioning for inner text box
.panel-square__inner--text-center {
    width: 100%;
    max-width: 60rem;
    padding: $spacing-triple;
    text-align: center;
}
