
// Contact details section Div

#contact-details {

    span {
        font-size: $font-size-huge;
        margin-right: $spacing-double;
    }

    h6 {
        display: inline;
    }

    span, h6 {
        @extend %text-shadow;
    }
}

.contact-details__wrapper {
    padding: $spacing-double;
}