
// bottom footer

footer {

    h5, ul {
        margin: 0px;
    }

    h5 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;

        @include mediaQ--max($bp-sm) {
            text-align: center;
        }
    }

    li {
        @include mediaQ--max($bp-sm) {
            display: inline;
        }
    }

    &.well {
        border-radius: 0px; 

        @include mediaQ--max($bp-sm) {
            padding: 20px 0px;
        }
    }
}






