
// bottom footer

footer {

    h5, ul {
        margin: 0px;
    }

    h5 {
        margin-bottom: 15px;
    }

    li {
        @include mediaQ--max($bp-sm) {
            display: inline;
        }
    }

    &.well {
        border-radius: 0px; 

        @include mediaQ--max($bp-sm) {
            padding: 20px 0px;
        }
    }
}

.footer-content {
    padding: 30px 0 60px;

    @include mediaQ--max($bp-sm) {
        text-align: center;
    }
}

.footer__page-links {
    margin-top: 30px;
    
    a {
        color: $light;
        font-size: 16px;
        transition: color 0.2s;
        text-decoration: none;
        margin: 0 10px;

        &:hover {
            color: $primary-color;
        }
    }
}

.footer__copyright{
    padding: 15px 0;
}


