
// Food-ad section with .parallax

#food-ad {
    display: flex;
    justify-content: center;
    align-items: center;

        h2 {
            position: relative;
            right: 100px;
            opacity: 0;
    }
}
