
// bottom footer

footer {

    h5, ul {
        margin: 0;
    }

    h5 {
        margin-bottom: $spacing-default;
    }

    li {
        @include mediaQ--max($bp-sm) {
            display: inline;
        }
    }

    &.well {
        border-radius: 0px; 

        @include mediaQ--min($bp-sm) {
            padding: $spacing-triple 0;
        }
    }
}

.footer-content {
    padding: $spacing-double 0 $spacing-triple;

    @include mediaQ--max($bp-sm) {
        text-align: center;
    }
}

.footer__page-links {
    margin-top: $spacing-double;
    
    a {
        color: $light;
        font-size: $font-size-base;
        transition: color 0.2s;
        text-decoration: none;
        margin: 0 $spacing-sm;

        &:hover {
            color: $primary-color;
        }
    }
}

.footer__copyright{
    padding: $spacing-default 0;
}


