
#gallery-excerpt {

    .col--no-padding {
        padding: 0;
    }
}

.gallery-excerpt__thumbnail {

    //Animation BEFORE styles
    position: relative;
    right: 100px;
    transform: scale(0.8);

}