
.site-header {
    position: relative;
}

//# social media icons on left-side of .site-header
.site-header__social-links {
    display: none;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);

    @include mediaQ--min($bp-md) {
        display: inline-block;
    }

    span {
        background: $light;
        color: $dark;
        padding: $spacing-sm $spacing-sm $spacing-xs;
        border-radius: 50%;
        font-size: $font-size-xlg;
        border: $border-size-lg solid $dark;
        transition: all 0.2s;

        &:hover {
            color: $primary-color;
            border: $border-size-lg solid $primary-color;
        }
    }
}

.site-header__social-links--invert {
    position: absolute;
    right: 15px;

    @include mediaQ--max($bp-sm) {
        position: relative;
        margin: ($spacing-default * 3) 0 0;
    }

    span {
        background: $dark;
        color: $light;
        padding: $spacing-sm $spacing-sm $spacing-xs;
        border-radius: 50%;
        font-size: $font-size-xlg;
        border: $border-size-lg solid $light;
        transition: all 0.2s;
        cursor: pointer;
        position: relative;

        &:hover {
            color: $primary-color;
            border: $border-size-lg solid $primary-color;
        }
    }
}

.site-header__social-links--navbar {
    @include mediaQ--max($bp-sm) {
        right: 0;

        li {
            margin: $spacing-double 0;
            text-align: center;
        }
    }
}

.site-logo, #site-logo {
    text-align: center;
    padding: $spacing-default 0;

    img {
        width: 120px;
        margin: auto;
        display: inline;
    }

    p {
        display: block;
        color: $primary-color;
        font-size: $font-size-xxxlg;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.5;
    }

    p.small {
        line-height: 2.5;
        font-size: $font-size-xxlg;
    }
}

#header-navbar-dropdown {

    @include mediaQ--min($bp-sm) {
        position: absolute;
        background: $dark;
        padding: $spacing-sm $spacing-default;

        a {
            font-size: $font-size-base;
        }
    }

    li {
        margin: $spacing-sm 0;
        padding: $spacing-sm 0;
        transition: background 0.5s ease-out;
    }

    a:hover {
        text-decoration: none;
    }

    li:hover {
        text-decoration: none;
        background-color: #6C2487;
    }
}