
.site-header {
    position: relative;
}

//# social media icons on left-side of .site-header
.site-header__social-links {
    display: none;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);

    @include mediaQ--min($bp-md) {
        display: inline-block;
    }

    span {
        background: $light;
        color: $dark;
        padding: 10px 10px 5px;
        border-radius: 50%;
        font-size: 27px;
        border: 3px solid $dark;
    }
}

.site-header__social-links--invert {
    position: absolute;
    right: 15px;

    @include mediaQ--max($bp-sm) {
        position: relative;
        margin: 45px 0 0;
    }

    span {
        background: $dark;
        color: $light;
        padding: 10px 10px 5px;
        border-radius: 50%;
        font-size: 27px;
        border: 3px solid $light;
    }
}

#site-logo {
    background: $light;
    text-align: center;
    padding: 15px 0;


    img {
        width: 120px;
        margin: auto;
        display: inline;
    }

    p {
        display: block;
        color: $primary-color;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.5;
    }

    p.small {
        line-height: 2.5;
        font-size: 30px;
    }
}
