
// Introduction .section

#intro {
    overflow: hidden;

    .row {
        display: flex;
    }

    .well {
        margin-bottom: 0;
          
        @include mediaQ--min($bp-sm) {
            padding-right: 60px;

        }

        // Animation BEFORE styles
        h3, p.lead, p, button {
            position: relative;
            top: 15px;
            opacity: 0;
        }

    }

    .intro-img {
        @extend %background-img-cover;

        left: 120px;
        opacity: 0;
    }
}