
// Introduction .section

#intro {

    .row {
        display: flex;
    }

    .well {
        text-align: center;

        @include mediaQ--min($bp-sm) {
            padding-right: 60px;
            text-align: left;
        }
    }

    .intro-img {
        @extend %background-img-cover;
    }
}