
// Introduction .section

#intro {
    overflow: hidden;

    .well {
        margin-bottom: 0;
        border-radius: 0;
        opacity: 0;
        margin-top: 200px;

        @include mediaQ--min($bp-sm) {
            padding: 45px;
            margin-top: 0;
            height-min: 400px;
        }

        // Animation BEFORE styles
        h3, p.lead, p, button {
            position: relative;
            top: 15px;
            opacity: 0;
        }

    }

    .intro-img {
        @extend %background-img-cover;
        opacity: 0.5;
        border-top: 5px solid $dark;
        
        @include mediaQ--min($bp-sm) {
            border-top: 0;
        }
    }
}

.intro-img__text-wrapper {

    @include mediaQ--min($bp-lg) {
        min-height: 400px;
    }
}