
#map {
    position: relative;
    height: 50rem;

}

.location-section__text-wrapper {
    text-align: center;

    @include mediaQ--min($bp-sm) {
        text-align: left;

        @include mediaQ--min($bp-lg) {
            min-height: 400px;
        }
    }
}