
//# .menu-section div

.menu-section {

    .well {
        padding: $spacing-default 0;

        h3 {
            margin: $spacing-double 0;
        }
    }
}

.menu-item {

    a {
        position: relative;
        height: 8rem;
        border: 3px solid $primary-color;
        display: block;
        margin: 2rem 0;
        transition: all 0.2s;

            @include mediaQ--min($bp-sm) {
                height: 12rem;
            }

            &:hover, &:focus {
                background: $primary-color;
                cursor: pointer;

                h4 {
                    color: $light;
                }
        }
    }

    h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        border-radius: 0px;
        color: $primary-color;
        margin: 0;
        padding: 0 $spacing-sm;
    }
}

