
//  SECTION .in-view ANIMATIONS //

#intro.in-view {

    h3 {
        opacity: 1;
        top: 0;
        transition: all 0.5s 0.4s;
    }

    p.lead {
        opacity: 1;
        top: 0;
        transition: all 0.5s 0.5s;
    }

    p {
        opacity: 1;
        top: 0;
        transition: all 0.5s 0.6s;
    }

    button {
        opacity: 1;
        top: 0;
        transition: all 0.5s 0.7s;
    }

    .well {
        opacity: 1;
        transition: all 0.5s;
    }

    .intro-img {
        opacity: 1;
        transition: all 0.5s;
    }
}

#food-ad.in-view {

    h2 {
        right: 0px;
        opacity: 1;
        transition: all 0.5s 0.5s;
    }
}

#selling-pts.in-view {

    .selling-point {
        opacity: 1;
        top: 0;
        transition: all 0.5s 0.5s;
    }
}

