
// Selling points section

#selling-pts {
    padding: $spacing-triple 0 ($spacing-triple * 2);

        @include mediaQ--max($bp-sm) {
            padding: $spacing-double 0;
        }
}

.line-break {
    display: flex;
    align-items: center;

    span.icon-circle {
        position: relative;
        left: -5px;
        top: 2px;
        color: $primary-dark-color;
    }

    span.icon-circle:first-child {
        left: 0px;
        right: -5px;
        color: $primary-dark-color;
    }
        
    hr {
        width: 100%;
        margin: 0;
        border-top: $border-size-md solid $primary-dark-color;
    }
}

.line-break-wrapper {
    margin-bottom: $spacing-triple;
}

.line-break-text {
    text-align: center;
    position: relative;
    top: 40px;    

    @include mediaQ--max($bp-sm) {
        top: 0;
    }

        h3 {
            @extend %text-shadow;
            text-align: center;
            margin: 0;
            display: inline-block;
            background: $primary-color;
            padding: $spacing-sm;
            max-width: 200px;
    }   
}

.selling-point {
    position: relative;
    padding: 0 $spacing-double;

    @include mediaQ--max($bp-sm) {
        margin: $spacing-triple 0;
    }

    .selling-point__img-outer-div {
        width: 120px;
        height: 120px;
        margin: auto;
        overflow: hidden;
        border-radius: 100%;
        margin-bottom: $spacing-default;
        display: flex;
        justify-content: center;

        position: relative;
        top: 0px;
        transition: all 0.5s; 
    }

    img {
        max-width: 180px;
    }

    h4 {
        @extend %text-shadow;
        position: relative;
        top: 0px;
        transition: all 0.5s;
        margin: 0; 
    }

    hr {
        position: relative;
        width: 40px;
        transition: all 0.5s; 
    }

    p {
        position: relative;
        top: 0px;
        transition: all 0.5s; 
        margin: 0;
    } 

    .selling-point__line-break {
        border-top-color: $light;
    }

        &:hover {
            .selling-point__img-outer-div { top: -30px; }

            .selling-point__title { top: -20px; }

            hr { width: 150px; }

            p { top: 20px; }

            .selling-point__price { top: 20px; }
    }

}



