
// Food-ad section with .parallax

#food-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2 {
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
}
